* {
  box-sizing: border-box;
}
.home-page-container {
  display: grid;
  /* background-color: rgb(0, 195, 255); */
  margin: 40px;
  grid-template-columns: auto auto auto; 
  grid-template-rows: auto auto auto; 

  /* auto auto auto auto auto; */
  grid-column-gap: 2em;
  grid-row-gap: 5em;
  grid-auto-flow: row;
  /*background-color:  rgb(255, 0, 149); */
}

.card {
 cursor: pointer;
 position: relative;
}

.card-image {
  height: 280px;
  width: 280px; 
}
.card-image:hover {
  opacity: 0.7;
}

.spinner-container {
  height: 280px;
  width: 280px;
  background-color: #2c2c2c;
  position: relative;
}
.spinner-svg {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.overlay-container {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  z-index: 12;
}


.overlay-img {
  width: 75vw;
  height: 75vh;
}

.overlay-content > h2 {
  color: white;
}
